<a href="https://colab.research.google.com/github/rayrozon93/Micro-credential-Data-Analytics/blob/main/Day_3_For_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#For Loops

In [1]:
for x in 'CUNY':
  print(x)

C
U
N
Y

In [3]:
TV_Shows = ['Game of Thrones', 'Star Trek', 'Stranger Things']

In [4]:
for Shows in TV_Shows:
  print(Shows)

Game of Thrones
Star Trek
Stranger Things

In [5]:
TV_Shows

['Game of Thrones', 'Star Trek', 'Stranger Things']

In [7]:
for Shows in TV_Shows:
  print(Shows.title() + ' is one of my favorite TV shows')

Game Of Thrones is one of my favorite TV shows
Star Trek is one of my favorite TV shows
Stranger Things is one of my favorite TV shows

In [8]:
for Shows in TV_Shows:
  print(Shows.upper() + ' is one of my favorite TV shows')

GAME OF THRONES is one of my favorite TV shows
STAR TREK is one of my favorite TV shows
STRANGER THINGS is one of my favorite TV shows

In [9]:
fruits = []

In [20]:
fruits.append('Lemons')

In [21]:
fruits

['Bananas',
 'Pears',
 'Oranges',
 'Mangos',
 'Blue Berries',
 'Strawberries',
 'Dragon Fruit',
 'Apples',
 'Lemons']

In [27]:
for x in fruits:
  print(x.title() + ' is some of my favorite fruit!')

Bananas is some of my favorite fruit!
Pears is some of my favorite fruit!
Oranges is some of my favorite fruit!
Mangos is some of my favorite fruit!
Blue Berries is some of my favorite fruit!
Strawberries is some of my favorite fruit!
Dragon Fruit is some of my favorite fruit!
Apples is some of my favorite fruit!
Lemons is some of my favorite fruit!

In [28]:
for x in range(1,21):
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [29]:
for x in range(1,21):
  print(x+3)

4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23

In [30]:
list(range(1,21,3))

[1, 4, 7, 10, 13, 16, 19]

In [31]:
l = [1,2,3,4,5,6,7,8,9,10, 23, 5, 6, 87, 98765, 345, 52, 3465, 4123, 454, 90]

In [32]:
for x in l:
  if x % 2 == 1:
    print(x)
  else:
    print(x, 'this is not an odd number.')

1
2 this is not an odd number.
3
4 this is not an odd number.
5
6 this is not an odd number.
7
8 this is not an odd number.
9
10 this is not an odd number.
23
5
6 this is not an odd number.
87
98765
345
52 this is not an odd number.
3465
4123
454 this is not an odd number.
90 this is not an odd number.

In [33]:
listSum = 0

for num in l:
  listSum = listSum + num

print(listSum)

107470

In [34]:
l2 = [12, 34, 445, 234, 23244]

In [35]:
listSum = 0

for num in l2:
  listSum = listSum + num

print(listSum)

23969

In [36]:
dy = {'k1': 1, 'k2': 2, 'k3': 3, 'k4': 4}

In [37]:
dy

{'k1': 1, 'k2': 2, 'k3': 3, 'k4': 4}

In [38]:
for item in dy:
  print(item)

k1
k2
k3
k4

In [41]:
for a,b in dy.items():
  print(a)
  print(b)

k1
1
k2
2
k3
3
k4
4