<a href="https://colab.research.google.com/github/rayrozon93/Micro-credential-Data-Analytics/blob/main/Unit_2_L4_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Create a list that holds 5 data variables.

In [1]:
cars = ["Volvo", "BMW", "Honda", "Toyota", "Nissan"]

#Print out those variables by using a for loop.

In [3]:
for x in cars:
  print(x)

Volvo
BMW
Honda
Toyota
Nissan

#Modify your for loop to add a message to your for loop.

In [5]:
for x in cars:
  print('A car that i see often is a ' + x)

A car that i see often is a Volvo
A car that i see often is a BMW
A car that i see often is a Honda
A car that i see often is a Toyota
A car that i see often is a Nissan

#Use a for loop to print even numbers from 1-20.

In [7]:
for x in range(1,21):
  if x % 2 == 0:
    print(x)

2
4
6
8
10
12
14
16
18
20

#Sort your list in alphabetic order.

In [11]:
sorted(cars)
print(sorted(cars))

['BMW', 'Honda', 'Nissan', 'Toyota', 'Volvo']

#Print out the first three elements of your list.

In [9]:
print(cars[0:3])

['Volvo', 'BMW', 'Honda']

#Create a loop to print the last 2 elements of your list.

In [12]:
for x in cars:
  if x == cars[-2]:
    print(x)
  if x == cars[-1]:
    print(x)

Toyota
Nissan